
body{
    background-color: white;
}

.titulo{
    
    background-color: skyblue;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    left:0;
    top: 0;
   

}

.table{
    background-color: rgb(240, 217, 17);
    width: 80%;
    border-collapse: collapse;
    border:solid;
    margin:auto;
    padding: 10px;
}
.celdas {
    background-color: white;
}

 tr th {
    
    background-color:#4caf50;
    color: black;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right:8px;
    text-align:center;
    border: 2px solid black;
   
}

 tr td {
    
    border: solid 1px rgb(252, 22, 22); 
    padding:8px;
    margin: 30px;
    text-align:center;

    border: 2px solid black;
    
}
tr:nth-child(even){
    background-color:rgb(133, 238, 177);
}
/* button{
    border: solid 1px #ddd; 
    background-color:greenyellow;
    margin-top: 20%;
    margin-left: 16px ;
    

} */

button:hover{
    color: black;
    background-color: gray;
    cursor: pointer;
    
}

select:hover{
    color: black;
    cursor: pointer;
    
}

input{
    text-align: center;
}
.todos{
    color: black;
    background-color:yellowgreen;
    margin: 120px;
    padding: 10px;
}