       <!--  diseño BOOTSTRAP PARA FORMULARIOS -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">AGREGAR</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/app/add-new" method="POST">
          <div class="mb-3">
            <label for="recipient-name"  class="col-form-label">Codigo:</label>
            <input type="text" name="codigo" class="form-control" id="recipient-name">
          </div>
           <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Grupo:</label>
            <input type="text" name="grupo" class="form-control" id="recipient-name">
          </div>
           <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nombre del Proceso:</label>
            <input type="text" name="proceso" class="form-control" id="recipient-name">
          </div>
           <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Dia de Ejecucion:</label>
            <input type="text" name="ejecucion" class="form-control" id="recipient-name">
          </div>
         <div class="modal-footer">
             <button  class="btn btn-Primary">SAVE</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
    